/*FOR NOTICE AREA OF SECTION*/
/* div{ 
    border: 1px solid black;
} */

body{
    /* background-color: black; */
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainContainer{
    width: 100%;
    margin: 10px;
}
.ContainerHeadSection{
    width: 80%;
    display: flex; 
    justify-content: center;
}
.HeadSection{
    background-image: linear-gradient(#FFFFFF, #D9F2F0);
    border-radius: 20px;
    text-align: center;
    width: 40%;
    font-size: 2em; 
    box-shadow: 5px 5px 5px gray;
}

/* REGISTER */
@keyframes rotating{
    0% {transform: scale(0.425,0.425) rotate(0deg);}
    100% {transform: scale(0.425,0.425) rotate(360deg);}
}
#register{
    position: fixed;
    bottom: 25%;
    right: 5%;
    width: 10%;
    height: 10%;
    border: 3px solid #41BEAC;
}
/* FOR NOTICE AREA OF IMAGE */
#register>img{
    position: absolute;
}
#register>#in1{
    transform: scale(0.4,0.4);
    /* width: 50%;
    height: 50%; */
    top: -60px;
    left: -60px;
    border: #41BEAC solid;
    animation-name: rotating;
    animation-duration:1s; 
    animation-iteration-count: infinite;
    /* transform: scale(0.4,0.4) rotate(45deg); */
    /* transform: scale(0.4,0.4); */
}
#register>#in2{
    transform: scale(0.402,0.402);
    top: -79px;
    left: -79px;
    border: #41BEAC solid;
    animation-name: rotating;
    animation-duration:3s; 
    animation-iteration-count: infinite;
    /* transform: scale(0.402,0.402) rotate(50deg); */
}
#register>#in3{
    transform: scale(0.425,0.425);
    top: -79px;
    left: -79px;
    border: red solid;
    animation-name: rotating;
    animation-duration:4s; 
    animation-iteration-count: infinite;
    /* transform: scale(0.425,0.425) rotate(55deg); */
}
/* REGISTER */

/* HEADWEB */
#headweb>h1{
    text-align: center;
}
/* HEADWEB */

/* INTRO */
#intro{
    padding: 0 20% 0 20%;
}
#intro>p{
    margin: 10px;
    font-size: 20px;
}
/* INTRO */

/* MAJORS */
#majors{
    display: flex;
    padding: 0 10% 0 10%;
}
.container-major{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 10px;
}
.container-major>p{
    text-align: center;
    font-size: 2em;
}
.container-major>div{
    box-shadow: 5px 5px 5px gray;
    background-color: #c1bdae;
    border: #c1bdae;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    height: 40%;
}
.container-major>img{
    width: 120%;
    height: 120%;
}
/* MAJORS */

/* TIMELINE */
#timeline>div{
    display: flex;
    justify-content: center;
}
.container-timeline{
    width: 20%;
    height: 80%;
    margin: 1%;
    text-align: center;
}
/* TIMELINE */

/* LOCATION */
#location{
    text-align: center;
    align-items: center;
    font-size: 1.5em;
}
/* LOCATION */
