@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Pridi');

/* div{ 
    border: 1px solid black;
} */
body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #B9E6E3 10%, #B4E5DF, #D9F2F0, #ffffff, #D9F2F0, #B4E5DF);
}
a:hover, a:visited{
    text-decoration: none;
}
.kanit{
    font-family: 'kanit';
}
.senserif{
    font-family: 'pridi';
}
.MainContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ContainerHeadSection{
    width: 80%;
    display: flex; 
    justify-content: center;
}
.HeadSection{
    background-image: linear-gradient(#FFFFFF 50%, #D9F2F0 50%);
    border-radius: 50px;
    text-align: center;
    padding: 5px 50px;
    font-size: 2em; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8% 0 2% 0;
}

/* REGISTER */
@keyframes rotating{
    0% {transform: /*scale(0.425,0.425)*/ rotate(0deg);}
    100% {transform: /*scale(0.425,0.425)*/ rotate(360deg);}
}
#register{
    position: fixed;
    width: 160px;
    height: 160px;
    top: 73%;
    left: 87%;
}
#in0, #in1, #in2{
    position: absolute;
}
#in0{
    color: oldlace;
    font-size: 200%;
    z-index: 12; 
    top: 34%;
    left: 17%;
}
#in1{
    z-index: 11;
    top: 3.1%;
    left: 3.5%;
    width: 93%;
    height: 93%;
}
#in2{
    z-index: 10;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    animation-name: rotating;
    animation-duration:4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* REGISTER */

/* HEADWEB */
#headweb{
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
#headweb>h1{
    text-align: center;
    font-size: 400%;
}
#headweb>img{
    width:80%;
    height:auto;
}
#SecondRegister{
    margin-top: 10px;
    width: 30%;
}
a>#RegisterButton{
    font-size: 2.5em;
    text-align: center;
    border-radius: 8px;
    background-color: #dd3305;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: background-color 500ms ease;
    transition: color 500ms ease;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}
a>#RegisterButton:hover{
    background-color: #830c0c;
    color: #F2F2F2;
    transition: background-color 500ms ease;
    transition: color 500ms ease;
    transition-property: background-color;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}
/* HEADWEB */

/* INTRO */
#intro{
    padding: 0 20%;
    margin: 10px;
    font-size: 1.5em;
    color: #777777;
}
/* INTRO */

/* MAJORS */
#majors{
    display: flex;
    padding: 0 10%;
}
.container-major{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 25%;
    margin: 5px;
}
.container-major>p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.container-major>div{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
    width: 210px;
    height: 240px;
    font-family: 'pridi';
    color: #777777;
}
.container-major>img{
    width: 100%;
    height: 100%;
}
/* MAJORS */

/* TIMELINE */
#timeline{
    flex-wrap: wrap;
    margin: 0 10% 1 10%;
}
.container-timeline{
    width: 20%;
    height: 80%;
    margin: 1% 3% 1% 3%;
    text-align: center;
    font-family: 'pridi';
}
.container-timeline>img{
    widows: 200px;;
    height: 200px;
}
.description{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
/* TIMELINE */

/* LOCATION */
#location{
    display: block;
    text-align: center;
    font-size: 1.5em;
}
#location>a>img{
    width: 70%;
    height: auto;
    border: #616161 solid 10px;
}
/* LOCATION */

/* INSTRUCTOR */
#instructor{
    flex-wrap: wrap;
}
.WidthMyCard{
    z-index: -1;
    width: 18rem; 
    margin: 10px 40px;
}
.picture{
    width: 100%;
    height: 250px;
}
.WidthMyCard>div{
    width:100%; 
    /* height: 160px; */
    background-position: center
}
.card-body>h1{
    font-size: 1.7em;
}
/* INSTRUCTOR */

/* SPONSER */
#sponser{
    padding: 0 50px;
}
.circle{
    margin: 50px;
    background-size: 125%;
    background-position: center;
    overflow: hidden;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 2px dashed black;
}
.link_class {
    display:inline-block;
    width:100%;
    height:100%;
}
/* SPONSER */

/*GALLERY*/
#gallery{
    width: 55%;
    height: auto;
}
/*GALLERY*/

/* QANDA */
#qanda{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
#qanda>button, #publicrelation{
    background-image: linear-gradient(#FFFFFF 50%, #D9F2F0 50%);
    text-align: center;
    padding: 5px 50px 5px 50px;
    font-size: 2em; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px;
    margin-bottom: 0px;
    width: 80%;
    color: black;
}
#qanda>div>div{
    background-image: linear-gradient(#616161, #948282);
    font-size:1.5em;
    padding-left: 80px; 
    color: white;
    width: 1050px;
    margin: 20px;
    z-index: -1;
}
/* QANDA */


/* FOLLOW */
#footer{
    flex-direction: row;
    justify-content: center;
}
#footer>a{
    margin:5px 40px;
    width: 70px;
    width: 70px;
}
#footer>a>img{
    width: 80px;
    height: 80px;
}
#publicrelation{
    background: none;
    border-radius: 50px;
    width: 40%;
    margin: 15px 0 ;
    transition: background-color 2s;
    transition: color 1s;
}
#publicrelation:hover{
    background-color: #35BEAC;
    color: #F2F2F2;
}
.modal-body>img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    height: auto;
    margin: 10px 5px;
}
.modal-body>a{
    align-content: center;
    font-size: 1.5em;
}
/* FOLLOW */

#co-working{
    display: flex;
    flex-direction: row;
}
body>p{
    text-align: center;
}
#line{
    display: none;
}


