@import url('https://fonts.googleapis.com/css?family=Kanit');
/* div{ 
    border: 1px solid black;
} */
body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #B9E6E3 10%, #B4E5DF, #D9F2F0, #ffffff, #D9F2F0, #B4E5DF);
}
.kanit{
    font-family: 'kanit';
}
.MainContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ContainerHeadSection{
    width: 80%;
    display: flex; 
    justify-content: center;
}
.HeadSection{
    background-image: linear-gradient(#FFFFFF 50%, #D9F2F0 50%);
    border-radius: 20px;
    text-align: center;
    padding: 5px 50px 5px 50px;
    font-size: 2em; 
    box-shadow: 2px 3px 8px #a39b9b;
    margin: 5% 0 5% 0;
}

/* REGISTER */
@keyframes rotating{
    0% {transform: scale(0.425,0.425) rotate(0deg);}
    100% {transform: scale(0.425,0.425) rotate(360deg);}
}
#in0{
    font-size: 1.5em;
    position: fixed;
    z-index: 4; 
    bottom: 79px;
    right: 54px;
}
#in1{
    position: fixed;
    z-index: 3;
    bottom: -71px;
    right: -71px;
    /* border: #41BEAC solid 1px; */
    animation-name: rotating; 
    animation-duration:3s; 
    animation-iteration-count: infinite; 
}
#in2{
    position: fixed;
    bottom: -90px;
    right: -90px;
    /* border: rgb(10, 10, 10) solid 1px; */
    animation-name: rotating;
    animation-duration:4s; 
    animation-iteration-count: infinite;
}
/* REGISTER */

/* HEADWEB */
#headweb{
    margin-top: 20px;
}
#headweb>h1{
    text-align: center;
    font-size: 4em;
}
#headweb>img{
    width: 1100px;
    height: 600px;
}
/* HEADWEB */

/* INTRO */
#intro{
    padding: 0 20% 0 20%;
    margin: 10px;
    font-size: 1.5em;
}
/* INTRO */

/* MAJORS */
#majors{
    display: flex;
    padding: 0 10% 0 10%;
}
.container-major{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 25%;
    margin: 5px;
}
.container-major>p{
    text-align: center;
    font-size: 2em;
}
.container-major>div{
    box-shadow: 2px 3px 8px #a39b9b;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
    width: 210px;
    height: 240px;
}
.container-major>img{
    width: 100%;
    height: 100%;
}
/* MAJORS */

/* TIMELINE */
#timeline{
    flex-wrap: wrap;
    margin: 0 10% 1 10%;
}
.container-timeline{
    width: 20%;
    height: 80%;
    margin: 1% 3% 1% 3%;
    text-align: center;
}
.container-timeline>img{
    widows: 200px;;
    height: 200px;
}
/* TIMELINE */

/* LOCATION */
#location{
    display: block;
    text-align: center;
    font-size: 1.5em;
}
#location>a>img{
    width: 900px;
    height: 500px;
    border: #616161 solid 10px;
}
/* LOCATION */

/* INSTRUCTOR */
#instructor>img{
    margin: 10px;
}
.WidthMyCard{
    width: 18rem; 
    margin: 0 5px;
}
/* INSTRUCTOR */

/* SPONSER */
#sponser>img{
    margin: 5%;
    width: 10%;
    height: 10%;
    border: 1px solid black;
}
/* SPONSER */

/*GALLERY*/
#gallery{
    width: 600px;
}
#carouselExampleControls{
    height: 400px;
}
#carouselExampleControls>div>div>img{
    height: 400px;
}
/*GALLERY*/

/* QANDA */
#qanda{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
#qanda>button, #publicrelation{
    background-image: linear-gradient(#FFFFFF 50%, #D9F2F0 50%);
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 5px 50px 5px 50px;
    font-size: 2em; 
    box-shadow: 2px 3px 8px #a39b9b;
    margin: 10px;
    margin-bottom: 0px;
    width: 80%;
    color: black;
}
#qanda>div{
    /* justify-content: center; */
    /* align-items: center; */
}
#qanda>div>div{
    background-image: linear-gradient(#616161, #948282);
    font-size:1.5em;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    color: white;
    width: 80%;
    /* align-content: center; */
    /* justify-items: center; */
    margin: 0 10% 0 10%;

}
/* QANDA */


/* FOLLOW */
#footer{
    flex-direction: row;
    align-items: center;
}
#footer>img{
    width: 5%;
    height: 5%;
    margin: 0 15px 0 15px;
}
#publicrelation{
    background-image: linear-gradient(#5131e0 , #D9F2F0 );
    width: 500px;
    margin: 15px 0 ;
}
/* FOLLOW */

/* RESPOSIVE */
@media only screen and (max-width: 420px){ 
    #headweb{
        font-size: 0.5em;
    }
    #headweb>img{
        width: 400px;
        height: 200px;
    }
    #intro{
        padding: 0 10% 0 10%;
        font-size: 0.9em;
    }
    #majors{
        flex-direction: column;
        align-items: center;
    }
    .container-major>img{
        width: 200px;
        height: 200px;
    }
    .container-major>div{
        width: 250px;
        height: auto;
    }
    #timeline{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .container-timeline{
        width: 80%;
    }
    #location{
        font-size: 1em;
    }
    #location>a>img{
        width: 80%;
        height: auto;
    }
    #gallery{
        width: 100%;
    }
    #carouselExampleControls{
        height: 250px;
    }
    #carouselExampleControls>div>div>img{
        height: auto;
    }
    .WidthMyCard{
        margin: 10px 0;
    }
    #sponser>img{
        width: 20%;
        height: 20%;
    }
    #qanda>button, #publicrelation, #qanda>div>div, .HeadSection{
        font-size: 1em;
    }
    #footer>img{
        width: 13%;
        height: 13%;
    }
    #in0{
        bottom: 83px;
        right: 88px;
    }
    #in1{
        bottom: -60px;
        right: -30px;
    }
    #in2{
        bottom: -79px;
        right: -49px;
    }
    #exampleModalScrollable, #MyContent, #publicrelation{
        width: 100%;
    }
}

/* RESPOSIVE */
