@media (max-width: 768px) and (min-width: 415px){
    #FirstRegister{
        display: none;
    }
    #majors{
        flex-wrap: wrap;
    }
    .container-major{
        margin: 5px 70px;
    }
    .container-timeline{
        margin: 5px 70px;
        width: 30%;
    }
    #location>a>img{
        width: 80%;
        height: auto;
    }
    #instructor{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .WidthMyCard{
        width: 50%;
        height: auto;
        margin: 10px 0;
    }
    #co-working{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #qanda>div>div{
        width: 600px;
    }
    #publicrelation{
        width: 100%;
    }
}
@media (max-width: 1024px) and (min-width: 769px){
    #FirstRegister{
        display: none;
    }
    #majors{
        width: 100%;
        padding: 0;
    }
    .container-major{
        margin: 5px 10px;
    }
    #co-working{
        width: 100%;
        padding: 5px 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #qanda>div>div{
        width: 800px;
    }
    #publicrelation{
        width: 100%;
    }
}