/* RESPOSIVE */
@media(max-width: 414px){
    #register{
        display: none;
    }
    #headweb{
        font-size: 0.5em;
    }
    #majors{
        flex-direction: column;
        align-items: center;
    }
    #timeline{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    #co-working{
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 10%;
    }
    #publicrelation{
        width: 100%;
        font-size: 1em;
    }
    .HeadSection{

        width: 90%;
        font-size: 1.2em;
        font-weight: bold;
    }
    #intro{
        font-size: 0.9em;
        padding: 0 10%;
    }
    .container-major{
        width: 80%;
        margin-bottom: 30px;
    }
    .container-major>div{
        width: 130%;
        height: 50%;
    }
    .container-timeline{
        width: 80%;
        margin-top: 20px;
    }
    .container-timeline>p{
        margin-top: -1%;
    }
    .circle{
        margin-bottom: -2%;
    }
    #gallery{
        width: 80%;
    }
    #qanda>button{
        font-size: 1em;
    }
    #line{
        margin-top: 15px;
        display: block;
    }
    #qanda>div>div{
        width: 250px;
        padding-left: 10%;
        font-size: 0.5em;
    }
    #howto-register{
        padding: 5px;
        /* width: 200px; */
        /* height: auto; */
        font-size: 1.2em;
    }
}
@media(max-width: 320px){
    #SecondRegister{
        font-size: 0.7em;
    }
    .container-timeline>img{
        width: 80%;
        height: auto;
    }
    .WidthMyCard{
        height: 400px;
    }
    .card-body>h1{
        font-size: 1.3em;
        font-weight: bold;
    }
    #sponser{
        padding: 0 0 10% 0;
        margin-bottom: 10%;
    }
    #qanda>div>div{
        font-size: 1em;
    }
}
@media(max-width: 320px){
    #oversize{
        padding: 2px;
    }
}
@media(max-width: 360px) and (min-width: 321px){
    #sponser{
        padding: 0 0 10% 0;
    }
    #howto-register{
        font-size: 1em;
    }
}

@media(max-width: 375px) and (min-width: 361px){
    .container-major>img{
        width: 200px;
        height: 200px;
    }
    #location{
        font-size: 1em;
    }
    #location>a>img{
        width: 80%;
        height: auto;
    }
    #carouselExampleControls{
        height: 250px;
    }
    #carouselExampleControls>div>div>img{
        height: auto;
    }
    .WidthMyCard{
        margin: 10px 0;
    }
    #sponser>img{
        width: 20%;
        height: 20%;
    }
    #sponser>a{
        margin: -25px;
    }
    #exampleModalScrollable, #MyContent{
        width: 100%;
    }
}

/* RESPOSIVE */