/* RESPOSIVE */
@media(max-width: 320px){
    p{
        font-size: 0.3em;
    }
    .HeadSection{
        font-size: 0.3em;
    }
    #headweb{
        color: red;
        font-size: 0.5em;
    }
    #SecondRegister{
        font-size: 0.7em;
    }
    #register{
        display: none;
    }
    #intro{
        padding: 0 13%;
    }
    .container-major{
        width: 80%;
        margin: 30px 0 0 0;
    }
    .container-major>div{
        width: 130%;
        height: 50%;
    }
    #majors{
        flex-direction: column;
        align-items: center;
    }
    #timeline{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .container-timeline{
        width: 80%;
        margin: 20px 0 0 0;
    }
    .container-timeline>p{
        margin-top: -1%;
    }
    .container-timeline>img{
        width: 80%;
        height: auto;
    }
    .WidthMyCard{
        height: 400px;
    }
    .card-body>h1{
        font-size: 1.3em;
        font-weight: bold;
    }
    #gallery{
        width: 80%;
    }
    #sponser{
        padding: 0 0 10% 0;
        margin-bottom: 10%;
    }
    .circle{
        margin-bottom: -5%;
        width: 200px;
        height: 200px;
    }
    #qanda>button{
        font-size: 1em;
    }
    #co-working{
        padding: 0 0 10% 0;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #publicrelation{
        width: 100%;
        font-size: 1em;
    }
}
@media(max-width: 360px) and (min-width: 321px){
    #headweb{
        color: green;
        font-size: 0.5em;
    }

    #register{
        display: none;
    }
    #majors{
        flex-direction: column;
        align-items: center;
    }
    #timeline{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    #co-working{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #publicrelation{
        width: 100%;
    }
}

@media(max-width: 375px) and (min-width: 361px){
    #FirstRegister{
        display: none;
    }
    #headweb{
        font-size: 0.5em;
        color: blue;
    }
    #intro{
        padding: 0 10% 0 10%;
        font-size: 0.9em;
    }
    #majors{
        flex-direction: column;
        align-items: center;
    }
    .container-major{
        margin: 25px 0;
    }
    .container-major>img{
        width: 200px;
        height: 200px;
    }
    .container-major>div{
        margin-top: -10px;
        width: 250px;
        height: auto;
    }
    #timeline{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .container-timeline{
        margin: 20px 0;
        width: 80%;
    }
    #location{
        font-size: 1em;
    }
    #location>a>img{
        width: 80%;
        height: auto;
    }
    #gallery{
        width: 100%;
    }
    #carouselExampleControls{
        height: 250px;
    }
    #carouselExampleControls>div>div>img{
        height: auto;
    }
    .WidthMyCard{
        margin: 10px 0;
    }
    #sponser>img{
        width: 20%;
        height: 20%;
    }
    #sponser>a{
        margin: -25px;
    }
    #qanda>button, #publicrelation, #qanda>div>div, .HeadSection{
        font-size: 1em;
    }
    #in0{
        bottom: 83px;
        right: 88px;
    }
    #in1{
        bottom: -60px;
        right: -30px;
    }
    #in2{
        bottom: -79px;
        right: -49px;
    }
    #exampleModalScrollable, #MyContent, #publicrelation{
        width: 100%;
    }
    #co-working{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #co-working>a{
        margin: -25px 0;
    }
    #qanda>div>div{
        width: 250px;
        padding-left: 40px;
    }
    #line{
        margin-top: 15px;
        display: block;
    }
}
@media(max-width: 411px) and (min-width: 376px){
    #headweb{
        color: yellow;
    }

    #register{
        display: none;
    }
}
@media(max-width: 414px) and (min-width: 412px){
    #headweb{
        color: pink;
    }

    #register{
        display: none;
    }
}

/* RESPOSIVE */